.title {
	color: blue;
}

.under {
	position: absolute; 
	bottom: 20px; 
	left: 20px; 
	z-index: 10;
}

.fence {
	  margin-top: 20px;
	  margin-bottom: 20px;
	  margin-right: 20px;
	  margin-left: 20px;
}

.sampleH {
	color: green;
	margin-left: 20px;
}

.sampleP {
	margin-left: 20px;
}

.sampleSH {
	margin-left: 20px
	color: violet;
}